---

---

<nav
    class="fixed bg-medium border-b-2 border-b-accent flex flex-row justify-between items-center w-full py-[8px] px-[16px] font-medium"
>
    <a
        class="text-primary hover:text-accent-light flex flex-row gap-[6px]"
        href="/"
        ><img class="max-h-[32px]" src="/src/assets/levelsmith-icon.svg" /><img
            class="max-h-[32px]"
            src="/src/assets/levelsmith-logo-text-white.png"
        /></a
    >
    <div class="flex flex-row gap-[24px] h-fit">
        <div class="relative inline-block dropdown">
            <a
                class="transition-colors text-primary hover:text-accent-light active:text-accent-medium"
                href="/foundry2d/">Software</a
            >
            <div class="hidden dropdown-menu">
                <div
                    class="absolute right-0 w-56 h-56 mt-2 origin-top-right bg-white"
                >
                </div>
            </div>
        </div>
        <a
            class="transition-colors text-primary hover:text-accent-light active:text-accent-medium"
            href="/about">About</a
        >
    </div>
</nav>

<style>
    .dropdown:hover .dropdown-menu {
        display: block;
    }
</style>
