---

---

<nav
    class="fixed bg-medium border-b-2 border-b-accent flex flex-row justify-between w-full p-[8px] font-medium"
>
    <a class="text-primary hover:text-accent-light">Home</a>
    <div class="flex flex-row gap-[12px]">
        <a class="text-primary hover:text-accent-light">Software</a>
        <a class="text-primary hover:text-accent-light">About</a>
    </div>
</nav>
