---
// 1. Style Sheets
import "../styles/global.css";
// 2. Layouts
import Layout from "../layouts/Layout.astro";
// 3. Components
import SectionHeading from "../components/SectionHeading.astro";
import ContactCardLarge from "../components/ContactCardLarge.astro";
---

<Layout title="About">
    <div class="my-[48px] flex flex-col gap-[12px] mx-auto max-w-7xl">
        <p>
            LevelSmith Labs is a team dedicated to making quality software for
            developers of all kinds, from the absolute beginners to industry
            veterans. We are driven by our love for video games, and we strongly
            believe that this shines through in our work.
        </p>
    </div>

    <SectionHeading title="The Team" />
    <div
        class="flex flex-wrap flex-row gap-[16px] my-[48px] justify-center w-full h-fit"
    >
        <ContactCardLarge name="Sten McKinzie" role="Faculty Lead" />
        <ContactCardLarge name="Bee Morse" role="Producer" />
        <ContactCardLarge name="Theo Ruefli" role="Tech Lead" />
        <ContactCardLarge name="Chris Hamam" role="Design Lead" />
        <ContactCardLarge name="Andrew S. Hernandez" role="Developer" />
        <ContactCardLarge name="Ben Haines" role="Developer" />
        <ContactCardLarge name="Deacon Mansfield" role="Developer" />
        <ContactCardLarge name="Evan Calkins" role="Developer" />
        <ContactCardLarge name="Jack Xue" role="Developer" />
        <ContactCardLarge name="Steven Poore" role="Developer" />
        <ContactCardLarge name="Tyler Christ" role="Developer" />
        <ContactCardLarge name="Zay Arriaga" role="Developer" />
        <ContactCardLarge name="Ziad Jaafar" role="Developer" />
    </div>
</Layout>
