---

---

<footer
    class="flex flex-col md:flex-row gap-[8px] md:gap-[16px] justify-center items-center w-full rounded-t-4xl px-[8px] py-[16px] mt-[96px]
    bg-dark bg-[linear-gradient(to_right,#222222_2px,transparent_1px),linear-gradient(to_bottom,#222222_2px,transparent_1px)] bg-size-[64px_64px]"
>
    <p class="text-secondary">&copy;2026 LevelSmith Labs.</p>
    <a class="hover:underline active:underline text-primary" href="#top"
        >Back to Top</a
    >
</footer>
