---
// 1. Style Sheets
import "../styles/global.css";
// 2. Components
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
// 3. Assets
import { Font } from "astro:assets";

interface Props {
    title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/levelsmith-website/favicon.svg" />
        <link rel="icon" href="/levelsmith-website/favicon.ico" />
        <Font cssVariable="--font-ibm-plex-mono" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="bg-medium text-primary">
        <!-- Navigation Bar -->
        <Navbar />
        <!-- Main Content -->
        <main>
            <!-- Heading -->
            <div
                class="rounded-b-4xl flex flex-col gap-[8px] px-[20px] md:px-[40px] pt-[72px] md:pt-[96px] pb-[16px] md:pb-[32px]
            bg-dark bg-[linear-gradient(to_right,#222222_2px,transparent_1px),linear-gradient(to_bottom,#222222_2px,transparent_1px)] bg-size-[64px_64px]"
            >
				<!-- 
					<div class="hidden md:flex flex-row gap-[16px]">
						<a class="hover:underline text-primary" href="/levelsmith-website/">Home</a>
						<p class="text-secondary">&gt;</p>
						<p class="text-secondary">About</p>
					</div>
				-->
                <h1 class="text-3xl md:text-5xl font-bold uppercase text-center md:text-left tracking-wide">
                    {title}
                </h1>
            </div>
            <div class="w-fill h-fit px-[40px]">
                <!-- Body -->
                <slot />
            </div>
        </main>
        <!-- Footer -->
        <Footer />
    </body>
</html>
